.todo {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.todo-add {
  display: flex;
  justify-content: space-between;
}

.todo-add-input {
  padding: 10px;
  width: 75%;
}

.todo-add-button {
  width: 15%;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #888;
  border-radius: 5px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888;
}

.todo-list-item:last-child {
  border-bottom: none;
}

.todo-item-delete {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
